/*Geral */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0b1e25 ;
}

/* Header Cabeçalho */ 
header {
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Search Buscas */
#search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* search input */
#search-input {
    background-color: #3D3D3D;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #DDD;
    width: 400px;
}

#search-input::placeholder {
    color: #DDD;
}

/* Botão de exportar CSV */ 
#export-notes {
    background-color: #3D3D3D;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.4s;
}
/* hover do botão exportar csv */
#export-notes:hover {
    background-color: #19d412;
    color: #333;
}

/* Form de nova nota */ 
#add-note-container {
    display: flex;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;
}
/* input and button mesmo estilo form */ 
#add-note-container input,
#add-note-container button {
    padding: 10px;
    border-radius: 5px;
}

/* estilo do input form */ 
#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #f0f0f0;
    color: #fff;
}

/* estilo do button icon + form */ 
#add-note-container button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

/* Notas */
#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px) ;
    padding: 2rem;
    gap: 2rem;
}

/* nota individual */ 
.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #217373;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

/* nota textarea */ 
.note textarea {
    background-color: transparent;
    resize: none;
    color: #fff;
    border: none;
    height: 100%;
    outline: none;
}

/* botão de fixa icon */ 
.note .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #173540;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;

}

.note:hover > i {
    opacity: 1; /* vai fazer (apresentar os botãos quando passa o mause por cima da nota ) button de delect e duplic icon */
}

/* estilo do deletar icon e duplicar icon*/
.note .bi-x-lg,
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: .3s;
    color: #173540;
    cursor: pointer;
    opacity: 0;

}

/* botão de duplicar icon */
.note .bi-file-earmark-plus {
    top: 40px;
}

/* hover dos icon */
.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
    color: #fff;
}

/* notas fixed */
.note.fixed {
    background-color: #161F30;
}


/* Responsividade */ 

/* celular */
@media (max-width: 450px) {
    header {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    /* campo de pesquisa Campo de busca por notas Search  */
    #search-container {
        width: 100%;
    }
    /* campo de pesquisa input */
    #search-input {
        width: 100%;
    }
    /*  Campo adicionar nota Form */
    #add-note-container {
        width: 100%;
        padding: 0 2rem;
    }

    /* Campo das notas criadas Notas */
    #notes-container {
       grid-template-columns: repeat(auto-fill, 100%); 
    }


}



